
<div class="regConainerFull">
  <div class="headerRegComp">
    <div class="backNavigation" routerLink="/coach/dashboard/competitions">
      <button mat-icon-button class="round-button">
        <mat-icon>arrow_left</mat-icon>
      </button>
      <div>{{'back' | translate}}</div>
    </div>
    <div class="headerFont">{{'comp_registration' | translate}}</div>
    <div>{{getFormattedDate()}}</div>
  </div>

  
  <mat-card>
    <app-loader-spinner *ngIf="!event()" color="black" height="200px"></app-loader-spinner>
    <div *ngIf="event()" class="eventTitle" style="padding: 10px; border-bottom: 1px solid var(--light-blue1);">
      <!-- <div class="title" style="text-align: center; font-weight: 600; font-size: 18px;">{{event()?.event.title}}</div> -->
      <div class="info">
        <app-label label="Title" [value]="event()?.event.address"></app-label>
        <app-label label="reg_start_date" [value]="event()?.event.registrationStartDate | date: 'dd-MM-yyy'"></app-label>
        <app-label style="color: red;" label="reg_end_date" [value]="event()?.event.registrationEndDate | date: 'dd-MM-yyy'"></app-label>
        <app-label label="Start_date" [value]="event()?.event.startDate | date: 'dd-MM-yyy'"></app-label>
        <app-label label="athlete_number" [value]="statement ? statement : '0'"></app-label>
      </div>
    </div>
    <mat-tab-group class="tabsCont" (selectedTabChange)="onTabChange($event)">
      <mat-tab *ngFor="let partition of event()?.partitions" [label]="partition.title">

        <ng-template mat-tab-label class="tabTitleCont">
          <span>{{ partition.title }}</span>
          <span class="dataTab">{{ partition.startDate | date: 'dd-MM-yyy'}}{{' ' + partition.startTime}}</span>
        </ng-template>

        <div class="regComponent">
          <div class="races">
            <mat-card (click)="chooseRace(race)" [ngClass]="chosenRace?._id == race._id ? 'bkOn' : ''" class="race"
              *ngFor="let race of partition.races">
              {{ race.distance + ' '}} {{ race.style | translate}} {{(race.gender + 'S')| translate}}
            </mat-card>
          </div>
          <div *ngIf="partition.races.length > 0" class="athletes">
            <mat-card style="height: 100%; padding: 5px 10px;">
              <div class="addPartitcipantsCont" *ngIf="!chosenRace">{{'choose_race' | translate}}</div>
              <div class="addPartitcipantsCont" *ngIf="chosenRace">
                <div style="font-weight: 600;">{{ chosenRace.distance + ' ' }}{{chosenRace.style | translate}}</div>
                <app-loader-spinner *ngIf="isLoading" color="black" height="200px"></app-loader-spinner>
                <div *ngIf="!isLoading" class="registeredAthletesList">
                  <div *ngIf="raceRegisterAthletes().length == 0">{{'no_athlete' | translate}}</div>
                  <div *ngIf="raceRegisterAthletes().length > 0" class="athleteInfoRegHeader">
                    <div>{{'name' | translate}}</div>
                    <div>{{'result' | translate}}</div>
                    <div>{{'action' | translate}}</div>
                  </div>
                  <div class="athleteInfoReg" *ngFor="let athlete of raceRegisterAthletes(), let i =index">
                    <div>{{i + 1 + '. '}}{{athlete.athlete.lastName + ' ' + athlete.athlete.firstName}}</div>
                    <div>{{ athlete.qualificationTime.minutes + ':' + athlete.qualificationTime.seconds + '.' +
                      athlete.qualificationTime.milliseconds}}</div>
                    <div><button (click)="deleteRegisteredAthlete(athlete)" mat-raised-button>{{'delete' | translate}}</button></div>
                  </div>
                </div>
                <div class="addAthleteCont">
                  <div *ngIf="!isLoadingAddAthlet"  style="text-align: center; padding: 5px;">{{'add_athlete' | translate}}</div>
                  <form [formGroup]="registerAthleteForm" class="add_athlete_form">
                    <div class="formFieldsCont">
                      <mat-form-field *ngIf="!isLoadingAddAthlet" class="example-full-width" appearance="outline">
                        <mat-label>{{'Athletes' | translate}}</mat-label>
                        <input type="text" [placeholder]="'pick_one' | translate" matInput formControlName="athleteInfo"
                          [matAutocomplete]="auto" />
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                          (optionSelected)="onOptionSelected($event)">
                          <mat-option *ngFor="let option of filteredOptions()" [value]="option">
                            {{ option?.member?.athlete?.lastName + ' ' + option?.member?.athlete?.firstName }}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
        
                      <mat-form-field *ngIf="!isLoadingAddAthlet" class="full-width">
                        <mat-label>{{'result' | translate}}</mat-label>
                        <input formControlName="athleteResult" maxlength="8" [value]="AthleteResultValue" matInput type="text"
                          placeholder="01:59.33" />
                      </mat-form-field>
                      
                      <app-loader-spinner *ngIf="isLoadingAddAthlet" color="black" height="100px"></app-loader-spinner>
                      <button type="button" *ngIf="!isLoadingAddAthlet" (click)="addAthlete()" [disabled]="!registerAthleteForm.valid || (statement - countRegisteredAthletes()) == 0"
                        mat-raised-button>{{'Add' | translate}}</button>
                    </div>
                      <div *ngIf="statement - countRegisteredAthletes() != 0" class="athletesLeftToRegister">{{'you_can_register' | translate}}{{' ' + (statement ? statement - countRegisteredAthletes() : '0') + ' '}}{{'more_athlete' | translate}}</div>
                      <div *ngIf="statement - countRegisteredAthletes() == 0" class="athletesLeftToRegister" style="color: red;">{{'you can not register more ahletes '}}</div>
                  </form>
                </div>
              </div>
            </mat-card>
          </div>
          <div *ngIf="partition.races.length === 0">
            {{'no_races_yet'}}
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
  
  <mat-card class="allRegisteredAthletes">
    <div *ngIf="AllRegisterAthletes()?.length > 0" class="allRegisteredAthletes_header">
      {{'registered_athletes' | translate}}
    </div>
    <div *ngIf="AllRegisterAthletes()?.length == 0" class="allRegisteredAthletes_header">
      {{"athlletes_note_registered" | translate}}
    </div>
    <div style="width: 100%;">
      <app-loader-spinner *ngIf="isLoadingAllRegAthletes" color="black" height="500px"></app-loader-spinner>
      <mat-accordion *ngIf="!isLoadingAllRegAthletes" >
        <mat-expansion-panel style="margin: 5px;" *ngFor="let athlete of AllRegisterAthletes()">
          <mat-expansion-panel-header>
            <div class="header-content">
              <div class="title">
                <span class="header-title">{{athlete.athlete?.lastName + ' ' + athlete?.athlete?.firstName}}</span>
                <span *ngIf="athlete.races.length > 0" class="header-subtitle">{{athlete.races.length + ' '}}{{'races' | translate}}</span>
                <span *ngIf="athlete.races.length == 0" class="header-subtitle">{{'not_registered'}}</span>
              </div>
              <span class="date">{{athlete?.athlete?.birthDate | date : 'yyyy'}}</span>
            </div>
          </mat-expansion-panel-header>
          <div class="panel-content">
            <div *ngFor="let race of athlete?.races, let i = index">
              <div>{{(i + 1) + '. ' + race.distance + ' '}}{{race.style | translate}}{{' '}}<span style="color: rgb(163, 162, 162);">{{race.gender + 'S' | translate}}</span></div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

    </div>
  </mat-card>
</div>