<mat-card *ngIf="!loader" class="auth-card">
    <form [formGroup]="submitForm" novalidate>
      <h2>{{'confirm' | translate}}</h2>
        <div style="padding: 6px; text-align: center;">{{'code_sent_mobile' | translate}}{{' '}}{{mobilePhone()}}</div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{'code' | translate}}</mat-label>
        <input matInput type="text" formControlName="token" [placeholder]="'code' | translate" />
        <mat-error *ngIf="submitForm.invalid">Token is required.</mat-error>
      </mat-form-field>
  
      <div class="actionDiv">
        <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="submitForm.invalid" type="submit" >
          {{'confirm' | translate}}
        </button>
        <button mat-raised-button routerLink="/auth/signIn" color="" type="submit">{{'back' | translate}}</button>
      </div>
    </form>
  </mat-card>
  
  <app-loader-spinner *ngIf="loader" color="black" height="500px"></app-loader-spinner>
  