
<app-loader-spinner *ngIf="!competitions()" color="black" height="500px"></app-loader-spinner>

<div *ngIf="competitions()?.length == 0" style="text-align: center;">{{'no_competitions' | translate}}</div>
<div *ngIf="competitions()" class="compContainer">
    <mat-card class="compCardCont" *ngFor="let competition of competitions()">
        <div class="compCard">
            <app-label label="Title" [value]="competition?.title"></app-label>
            <app-label label="reg_start_date" [value]="competition?.registrationStartDate | date: 'dd-MM-yyy'"></app-label>
            <app-label style="color: red;" label="reg_end_date" [value]="competition?.registrationEndDate | date: 'dd-MM-yyy'"></app-label>
            <app-label label="Start_date" [value]="competition?.startDate | date: 'dd-MM-yyy'"></app-label>
        </div>

        <div class="actions">
            <button [routerLink]="'/coach/competition/details/' + competition?._id" mat-raised-button>{{'details' | translate}}</button>
            <div [matTooltip]="matToolTipSet(competition.registrationEndDate, competition?.statement?.hasActiveStatement) | translate">
                <button [routerLink]="'/coach/competition/registration/' + (competition?.statement?.hasActiveStatement ? competition?.statement?.participantMaxCount : '0') + '/' + competition?._id" 
               
                 mat-raised-button>{{'register' | translate}}</button>
            </div>
        </div>
    </mat-card>
</div>

<!-- [disabled]="!canRegistrate(competition.registrationEndDate, competition?.statement?.hasActiveStatement)" -->