<mat-card *ngIf="!loader" class="auth-card">
  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" novalidate>
    <h2>{{'Sign_In' | translate}}</h2>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{'pid' | translate}}</mat-label>
      <input matInput type="text" formControlName="pidOrEmail" [placeholder]="'pid' | translate" />
      <mat-error *ngIf="hasError('pidOrEmail', 'required')">Pid is required.</mat-error>
      <mat-error *ngIf="hasError('pidOrEmail', 'minlength')">
        Pid must be 11 characters long.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{'password' | translate}}</mat-label>
      <input matInput type="password" formControlName="password" [placeholder]="'password' | translate" />
      <mat-error *ngIf="hasError('password', 'required')">Password is required.</mat-error>
      <mat-error *ngIf="hasError('password', 'minlength')">
        Password must be at least 6 characters long.
      </mat-error>
    </mat-form-field>

    <div class="actionDiv">
      <button mat-raised-button color="primary" type="submit" [disabled]="signInForm.invalid">
        {{'sign_in' | translate}}
      </button>

      <a routerLink="/auth/recoveryId">
        <button mat-raised-button color="" type="button">{{'recover_pass' | translate}}</button>
      </a>

    </div>
  </form>
</mat-card>

<app-loader-spinner *ngIf="loader" color="black" height="500px"></app-loader-spinner>
